**/.git
**/.idea
**/.vs
**/.next
**/node_modules
**/bin
**/obj
**/out
*.user
*.swp
.DS_Store
.editorconfig
package.json
package-lock.json
tsconfig.json
next.config.ts
tailwind.config.ts
postcss.config.mjs
eslint.config.mjs
app/
components/
public/
lib/
